.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    background: linear-gradient(90deg,rgba(0, 161, 242, 0.4) 0%, rgba(0, 161, 242, 0.6) 50%, rgba(0, 161, 242, 0.4) 100%);
    border: 1px solid var(--secondary);
    color: var(--white);
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: 200ms ease;

    &:hover{
        background: linear-gradient(90deg, rgba(0, 161, 242, 0.4) 0%, rgba(203, 247, 255, 0.6) 50%, rgba(0, 161, 242, 0.4) 100%);
        cursor: url('/pointer.png'), pointer;
    }
}

.secondary{
    background: linear-gradient(90deg, rgba(28, 30, 63, 0.6) 0%, rgba(0, 161, 242, 0.25) 50%, rgba(28, 30, 63, 0.6)  100%);
    border: 1px solid var(--secondary);
    color: var(--secondary);

    &:hover{
        background: linear-gradient(90deg, rgba(28, 30, 63, 0.4) 0%, rgba(203, 247, 255, 0.25) 50%, rgba(28, 30, 63, 0.4) 100%);
        cursor: url('/pointer.png'), pointer;
    }
}

.yellow{
    background: linear-gradient(90deg,rgba(132, 101, 49, 0.6) 0%, rgba(132, 101, 49, 0.8)  50%, rgba(132, 101, 49, 0.6) 100%);
    border: 1px solid var(--secondary);
    color: var(--white);

    &:hover{
        background: linear-gradient(90deg, rgba(184, 149, 0, 0.6) 0%, rgba(132, 101, 49, 0.8) 50%, rgba(184, 149, 0, 0.6) 100%);
        cursor: url('/pointer.png'), pointer;
    }
}