.gods{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    >div:first-child{
        &:hover{
            border-color: var(--secondary);

            &::after,
            &::before{
                border-color: var(--secondary) transparent;
            }
        }
    }
}

.controls{
    display: flex;
    height: 50px;
    padding: 10px;
}

.list{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: baseline;
    overflow-y: scroll;
    &::after{
        content: "";
        flex: 1;
    }
}