.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-content: stretch;

    flex: 1;
    width: 100%;
    max-width: 502px;
    max-height: 280px;
    border: 1px solid var(--secondary);
    margin: 8px;
    transition: 200ms ease;
    
    >img{
        width: 100%;
        height: 100%;
    }

    &:hover{
        border: 1px solid var(--yellow);
        opacity: 0.75;
    }
}

.title{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 8px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.subtitle{
    color: var(--secondary);
    font-size: 1.25rem;
    margin: 4px 8px;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text{
    font-size: 1rem;
    margin: 8px;
    color: var(--white);
    opacity: 0.5;
}