.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-content: stretch;

    flex: 1;
    max-height: 280px;
    border: 1px solid var(--secondary);
    margin: 8px;
    transition: 100ms ease;
    
    >img{
        width: 100%;
        height: 100%;
    }

    &:hover{
        border: 1px solid var(--yellow);
        opacity: 0.75;
    }
}

.text{
    font-size: 1rem;
    margin: 8px;
    color: var(--white);
    opacity: 0.5;
}

.availableFor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 20px;

    @media(max-width: 1420px){
        display: none;
    }
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}