.title{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 2px 8px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.subtitle{
    color: var(--secondary);
    font-size: 1.25rem;
    margin: 4px 8px;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}