.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
}

.logo{
    position: relative;
    width: 300px;
    background: transparent;
    margin-left: 80px;

    >img{
        width: 300px;
        object-fit: cover;
    }
}

.backArrow{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 30%;
    left: -15%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--blue) 0, var(--primary) 100%);
    cursor: url('/pointer.png'), pointer;
    transition: 200ms ease;

    &:hover{
        background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(0,161,242,1) 40%, var(--primary) 100%);
    }

}

.info{
    display: flex;
    align-items: center;

    @media(max-width: 1080px){
        display: none;
    }
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--secondary);
    margin: 5px;
    cursor: url('/pointer.png'), pointer;
    transition: 200ms ease;

    &:hover{
        border: 1px solid var(--yellow);
        opacity: 0.75;
    }
}

.character{
    display: flex;
    background: var(--primary);
    border: 1px solid var(--secondary);
    border-right: none;
    padding: 2px;
    min-width: 450px;
}

.profilePic{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 1px solid var(--secondary);
    margin-right: 10px;
    width: 72px;
    height: 72px;

    cursor: url('/pointer.png'), pointer;
    transition: 200ms ease;

    >img{
        width:70px;
        height:70px;
        transition: 200ms ease;
    }

    >svg{
        opacity: 0;
        position: absolute;
        transition: 200ms ease;
    }

    &:hover{
        border: 2px solid var(--secondary);
        >svg{
            opacity: 1;
        }
        >img{
            opacity: 0.5;
        }
    }
}

.profileInfos{
    display: flex;
    flex-direction: column;

}

.purchaseStats{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.name{
    color: var(--yellow);
    font-weight: bold;
    margin-bottom: 11px;
}

.imagePurchase{
    display:flex;
    align-items: center;
    img{
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
    & + &{
        margin-left: 10px;
    }
}

.xp{
    position: relative;
    display: flex;

    >div:first-child{
        height: 10px;
        width: 300px;
        border: 1px solid var(--secondary);
        padding: 1px;
    }

    >div:last-child{
        position: absolute;
        right: 0;
        top: -25px;
        font-weight: bold;
        color: var(--blue);
    }
}

.progress{
    background: var(--blue);
    height: 100%;
}